.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: getRem(80px) getRem(50px);

    .options {
        display: flex;
        flex-direction: column;

        &__date-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: getRem(30px);

            .option:first-child {
                margin-right: getRem(30px);
            }
        }
    }
}
