.rates {
    display: flex;
    flex-direction: column;

    flex: 1;
    padding: getRem(80px) getRem(50px);

    .table-wrapper {
        display: flex;
        flex: 1;

        position: relative;
        .spinner-wrapper {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
